body{
background-color: rgb(62, 56, 62);
background-repeat: no-repeat;
}
/* div{
background-color: blueviolet;
width: 500px;
margin: auto;

} */
form{ 
    background-color: rgb(28, 2, 28);
    background-repeat: no-repeat;
    border-radius: 10px;
    border-color: gray;
    width: 600px;
    margin: auto;
    padding: 20px 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
input{font-size: 20px;
color: black;
border-radius: 10px;
width: 60%;
padding: 10px 20px;
}
form label{
color: white;

}
button{
color: white;
background-color: rgb(66, 44, 66);
border-radius: 10px;
font-size: 20px;
padding: 10px 20px;
width: 500px;

}